/bookmark/target/
.bookmark/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea/
*.iws
*.iml
*.ipr
.vscode/
.project
.settings
.springBeans
.sts4-cache
/bookmark_fe/node_modules/
/bookmark_fe/dist/
/bookmark_fe/src/environments/*
*.log
docker-compose.override.yml
.env